@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #1B1D1F;
}
#root {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
