@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --heading-size: 1.25rem;
  --label-small-text-size: 0.75rem;
  --body-text-size: 1rem;
  --tab-text: 0.875rem;
  --btn-clr-1: #652cd1;
  --btn-clr-2: #845eee;
  --bg-clr-1: #121826;
  --bg-clr-2: #212936;
  --gray-dark-clr: #394150;
  --gray-lighter-clr: #4d5562;
  --gray-lightest-clr: --#A1A1A9;
  --font-clr: #e5e7eb;
  --gradient-clr: linear-gradient(
    to bottom,
    var(--btn-clr-2),
    var(--btn-clr-1)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-clr-1);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  color: var(--font-clr);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
  max-inline-size: 900px;
  position: relative;
}
.container::before {
  position: absolute;
  content: "";
  background-image: url("/images/blur-radial.svg");
  background-size: cover;
  background-position: bottom right;
  width: 50%;
  height: 50%;
  top: 0;
  left: -16%;
}
.container::after {
  position: absolute;
  content: "";
  background-image: url("/images/blur-radial.svg");
  background-size: cover;
  width: 50%;
  height: 50%;
  bottom: 0;
  right: -16%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-inline-size: 70%;
  border-radius: 1rem;
  padding: 2rem;
  /* From https://css.glass */
  background: var(--bg-clr-2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.1px);
  -webkit-backdrop-filter: blur(15.1px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  h2 {
    font-size: var(--heading-size);
    margin-bottom: 2rem;
  }
}

.form-input {
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  label {
    font-size: var(--label-small-text-size);
    color: var(--font-clr);
  }
  input {
    border: none;
    border-radius: 1rem;
    padding: 0.875rem;
    border: 2px solid var(--gray-lighter-clr);
    background: var(--gray-lightest-clr);
  }
  input::placeholder {
    color: var(--gray-lighter-clr);
  }
  input[type="checkbox"] {
    cursor: pointer;
    display: none;
    border-radius: 0.875rem;

    padding-inline: 1rem;
  }
  .step1.form label {
    padding: 1rem;
    border-radius: 0.875rem;
    background: var(--gray-dark-clr);
  }

  input[type="checkbox"] + label {
    padding: 1rem;
    border-radius: 0.875rem;
    color: gray;
    background: var(--gray-dark-clr);
  }
  input[type="checkbox"]:checked + label {
    background-image: var(--gradient-clr);
    color: white;
    border-radius: 0.875rem;
    padding: 1rem;
  }
}

button {
  width: 40%;
  display: block;
  margin: 2rem auto 0;
  background-image: var(--gradient-clr);
  border: none;
  color: var(--font-clr);
  padding: 0.875rem;
  border-radius: 2rem;
  cursor: pointer;
}

.step-status {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--tab-text);
  color: var(--gray-lighter-clr);
  margin-top: 1rem;
  .step-container {
    display: flex;
    gap: 0.5rem;
  }
  .step-indicator {
    background-color: var(--gray-lighter-clr);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position: relative;
  }
  .step-indicator.active-step {
    background-color: #733fe2;
  }
  .active-step {
    border: 4px solid var(--btn-clr-2);
  }
}
